/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body, h1, h2, p, button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Navbar styling */
header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    font-size: 1.5rem;   
    height: 40px;
    padding-top: 10px;
    margin-right: 10px;
}

.site-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #c0f9c8;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white; 
    border-radius: 25px;
    padding: 5px;
}

#search-input {
    padding: 5px;
    margin-left: 5px;
    font-size: 0.9rem;
    border: none;
}

#search-input:active {
    border: none;
}

#search-btn, #reset-btn {
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-btn:hover, #reset-btn:hover {
    background-color: white;
    color: #4CAF50;
}

.background-image {
    /* background: url('background.jpeg') no-repeat center center/cover; */
    background: linear-gradient(
      to right, 
      rgba(135, 206, 250, 0.4) 10%, /* Bleu ciel transparent au milieu */
      rgba(135, 206, 250, 0.219) 20% /* Bleu ciel léger à droite */
    ),
    linear-gradient(
      to bottom left, 
      rgba(135, 206, 250, 0.18) 10%, /* Bleu ciel intense en bas à gauche */
      rgba(255, 255, 255, 0) 20% /* Transparence en haut à droite */
    ),
    url('background.jpeg');
    background-size: cover;
    background-position: left bottom; /* Image focalisée sur le coin bas gauche */
    background-repeat: no-repeat;
}

/* Home Page */
.hero-section {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    margin: 150px 70px 40px 70px;
    width: 50%;
    padding: 0 50px;
}

.hero-content p {
    width: 70%;
    padding: 0px 50px 0px 5px;
    line-height: 1.2;
    font-size: 1rem;
    margin-bottom: 40px;
}

.search-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 25px;
}

.btn-book {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-book:hover {
    background-color: white;
    color: #4CAF50;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* About Us Page */

.container {
    margin: 0 80px;
    padding-top: 80px;
    height: 100vh; 
    color: white;    
}

.about-us {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-title {
    text-align: left;
    font-size: 3.5rem;
}

.background-overlay {
    background: rgba(27, 26, 26, 0.395);
    padding: 20px;
}

.about-description {
    margin: 30px 0;
}

.description p {
    text-align: justify;
    line-height: 1.2;
}

/* Our Team Section */
.our-team {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 80px;
    margin-top: 50px;
}

.our-team h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 40px;
    margin-right: 50px;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.team-card {
    display: flex;
    align-items: center;
    justify-content: left;
    background: rgba(27, 26, 26, 0.395);
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    height: 150px;
    text-align: center;
}

.team-content {
    text-align: left;
    margin-top: 30px;
    padding: 0 10px;
    position: relative;
    top: -5px;
}

.team-card .icon {
    font-size: 12px;
    background: rgb(36, 36, 132);
    border-radius: 5px;
    padding: 5px 8px;
    display: inline-block;
    margin-bottom: 100px;
    color: white;
}

.team-card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.team-card .role {
    text-align: center;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    background: rgb(36, 36, 132);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border:  white solid 1px;
    display: inline-block;
    font-weight: bold;
}


/* Contact Us Section */
.contact-us {
    position: relative;
    top: 40px;
}

.contact-style {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}

.left-content {
    width: 50%;
    margin-bottom: 80px;
}

.left-content h1 {
    font-size: 3.5rem;
    margin-bottom: 25px;
}

.left-content p {
    font-size: 1.2rem;
}

.right-content {
    width: 60%;
    border-radius: 8px;
    margin-right: -60px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    font-size: 1rem;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    background: transparent;
    color: white;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 8px;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #bab4b4;
}

.contact-form button {
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background: white;
    color: #4CAF50;;
}

/* recommendation section*/

.result-bar {
    margin-top: 10px;
    height: 30px;
    border-radius: 10px;
    width: 400px;
    background-color: #4CAF50;
}
  
.recommendation-card {
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.recommendation-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
  
.recommendation-card .content {
    text-align: justify;
    padding: 15px;
    background-color: white;
}
  
.recommendation-card h2 {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}
  
.recommendation-card p {
    font-size: 14px;
    margin: 5px 0px;
    color: #666;
}

.recommendation-card button {
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
}

.recommendation-card button:hover {
    background-color: white;
    color: #4CAF50; 
    border: solid 1px green;
}

.no-content {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Social Bar */
.social-bar {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-bar .vertical-bar {
    width: 2px;
    height: 170px;
    background: white;
    margin-bottom: 25px;
}

.social-bar .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.social-bar .social-media a {
    color: white;
    margin: 10px 0;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.social-bar a:hover {
    transform: scale(1.1);
}



/* Responsive design */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
}
